mat-card {
  min-width: 200px;
  width: 100%;
  cursor: pointer;
  /*
  transition: box-shadow 0.3s ease-in-out;
  */
}
/*
mat-card:hover {
  transition: box-shadow 0.3s ease-in-out;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
}*/

img {
  padding: 25px;
}

.card-title {
  font-size: 19px;
  font-weight: bold;
}

.card-price {

}

mat-card-actions {
  display: flex;
  justify-content: space-between;
}


