body {
  display: flex;
  align-self: center;
}

.main,
.bottom {
  display: flex;
  width: 100%;
  justify-content: center;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.container-title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--header-text-color)
}

.container-content {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.cart-box {
  border-radius: 15px;
  box-shadow: 0 4px 10px 1px rgba(0,0,0,0.1);
  padding: 20px;
  width: 100%;
}

.cart-total {
  margin-top: 20px;
  display: flex;
  width: 100%;
  flex-direction: row;
  justify-content: space-between;
}

.cart-total .right {
  margin-top: -20px;
  display: flex;
  flex-direction: row;
  column-gap: 30px;
  justify-content: flex-start;
  align-items: flex-end;
}

.cart-total .total-title {
  font-size: 23px;
  color: var(--header-text-color);
}
.empty-cart {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.empty-cart mat-icon {
  font-size: 100px;
  width: 100px;
  height: 100px;
  color: var(--header-text-color);
}

.empty-cart p {
  color: var(--accent-color);
  font-size: 25px;
}

@media (max-width: 650px) {
  .main-container {
    width: 95%;
  }

  .cart-total .right {
    column-gap: 20px;
  }
}

@media (min-width: 1100px) {
  .cart-box {
    width: 1000px;
  }

  .cart-total {
    width: 1000px;
  }
}


