* {
  margin: 0;
  padding: 0;
  height: 100%;
}

.navbar-container {
  display: flex;
  height: 50px;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background: var(--accent-color);
  mat-icon {
    color: #31573e;
  }
}

.navbar-logo {
  display: flex;
  align-items: center;
  font-size: 28px;
  color: white;
  margin-left: 20px;
}

.navbar-user {
  display: flex;
}

mat-sidenav-content {
  background-color: var(--body-background);
}

.left {
  display: flex;
  align-items: center;
}

.right {
  display: flex;
  align-items: center;
}

