<div class="row">
  <div class="image">
    <img src="{{ product?.image }}" alt="Termékkép" />
  </div>
  <div class="name">
    {{ product?.name }}
  </div>
  <div class="quantity">
    <button mat-icon-button (click)="decreaseQuantity()">
      <mat-icon>remove</mat-icon>
    </button>
    <h3>{{ item.quantity }}</h3>
    <button mat-icon-button (click)="increaseQuantity()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <div class="price">
    <h3>{{ item.price * item.quantity | huCurrency }}</h3>
  </div>
  <div class="remove">
    <button mat-icon-button (click)="removeItem()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</div>
