.hero {
  height: 500px;
}
.hero img {
  height: 500px;
  width: 100%;
  object-fit: cover;
}

body {
  display: flex;
  align-self: center;
}

.main {
  display: flex;
  width: 100%;
  justify-content: center;
  margin-bottom: 50px;
}

.main-container {
  display: flex;
  flex-direction: column;
  width: 90%;
}

.container-title {
  font-size: 30px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: var(--header-text-color)
}

.container-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr)); /* Adjust the number of columns as needed */
  gap: 10px; /* Adjust the gap between grid items as needed */
}


