<div class="main">
  <div class="main-container">
    <div class="form-card">
      <div class="title">Regisztráció</div>
      @if (isLoading) {
        <mat-progress-bar mode="indeterminate"></mat-progress-bar>
      }
      <div class="form">
        <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
          <mat-form-field>
            <mat-label>Név</mat-label>
            <input matInput formControlName="name" matTooltip="Vezetéknév Keresztnév" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>E-mail</mat-label>
            <input matInput formControlName="email" required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Jelszó</mat-label>
            <input matInput type="password" formControlName="password" matTooltip="A jelszónak legalább 6 karakter hosszúnak kell lennie." required>
          </mat-form-field>
          <mat-form-field>
            <mat-label>Jelszó megerősítése</mat-label>
            <input matInput type="password" formControlName="confirmPassword" required>
          </mat-form-field>
          <button mat-flat-button type="submit" [disabled]="!registerForm.valid">Regisztráció</button>
          <p>Már van fiókja? <a routerLink="/login">Bejelentkezés</a></p>
        </form>
      </div>
    </div>
  </div>
</div>
